// Product

.title {
    text-align: center;
    font-size: 52px;
    color: @title-color;
    padding: 90px 0 100px 0;
    text-transform: uppercase;
}

#product {
    .slider {
        &-inner {
            .slide-show {
                display: flex;
                flex-wrap: wrap;
            }
        }
        &-item {
            width: calc(100%/3);
            .thumb {
                position: relative;
                .thumb-width(100%);
                &-inner {
                    height: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .slick-arrow {
            width: 155px;
            height: 155px;
            border-radius: 155px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: @color-button-slider;
            opacity: 0.6;
            .transition(all, .5s);
        }
        .slick-prev {
            left: 20px;
            z-index: 10;
            &::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                content: '\f053';
                font-size: 64px;
                color: @color-arrow-slider;
                opacity: 1;
                .transition(all, .5s);
            }
            &:hover {
                background-color: @color-arrow-slider;
                &::before {
                    color: @color-button-slider;
                }
            }
        }
        .slick-next {
            right: 20px;
            &::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                content: '\f054';
                font-size: 64px;
                color: @color-arrow-slider;
                opacity: 1;
                .transition(all, .5s);
            }
            &:hover {
                background-color: @color-arrow-slider;
                &::before {
                    color: @color-button-slider;
                }
            }
        }
    }
}


// Brand
#brand {
    padding-bottom: 180px;
    background-color: #f7f7f7;
    .brand-inner {
        .col(8);
        margin-left: auto;
        margin-right: auto;
    }
    .thumb {
        position: relative;
        .thumb-width(100%);
        &-inner {
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
}
