/* Source */
@font-face {
  font-family: 'SVN-Bold';
  src: url('../fonts/SVN/SVN-Arial-Bold.ttf');
}
@font-face {
  font-family: 'SVN-Regular';
  src: url('../fonts/SVN/SVN-Arial-Regular.ttf');
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
}
@font-face {
  font-family: 'SFU';
  src: url('../fonts/SFU/SFUFuturaBold.TTF');
}
/* Header Footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
.container {
  max-width: 1886px;
  width: 100%;
  padding: 0 3px;
  margin: 0 auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
}
body {
  font-family: 'SVN-Bold';
  font-size: 16px;
}
.header {
  background-color: #f7f7f9;
  padding-top: 60px;
}
.header .logo {
  width: calc(100% / 12 * 8.5);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header .logo img {
  z-index: 1;
}
.header .logo .menu {
  z-index: 1;
  display: flex;
  gap: 46px;
  font-size: 21px;
}
.header .logo .menu a {
  color: #484848;
}
.header .logo .menu .home:hover {
  color: #f43324;
}
.header .logo .menu .contact:hover {
  color: #f43324;
}
/* Content */
.hero {
  margin-top: -100px;
}
.hero .slick-next {
  right: 0;
  display: none !important;
}
.hero .slick-dots {
  max-width: 300px;
  right: 13%;
  bottom: 35%;
  transform: translate(0%, 0%);
}
.hero .slick-dots li button:before {
  font-size: 14px;
  opacity: 0.8;
}
.hero .img-background {
  max-width: 1920px;
  width: 100%;
  position: relative;
}
.hero .img-background .slider-inner {
  position: relative;
}
.hero .img-background .slider-inner img {
  width: 100%;
}
.hero .img-background .slider-inner .hero-cover {
  width: calc(100% / 12 * 5.1);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  position: absolute;
  left: 61%;
  top: 18%;
  transform: translate(-43%, -8%);
  color: #fff;
  font-size: 114px;
}
.hero .img-background .nav-about {
  position: absolute;
  width: calc(100% / 12 * 5);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  bottom: -6%;
  left: 53%;
  transform: translate(0%, 6%);
}
.hero .img-background .nav-about .about-header {
  font-size: 42px;
  color: #f43324;
  margin-left: -30px;
  letter-spacing: 2px;
  padding-bottom: 25px;
}
.hero .img-background .nav-about .sub-about {
  font-size: 18px;
  color: #484848;
  line-height: 28px;
  font-family: "MyriadPro";
}
.our-skill {
  background-color: #f7f7f9;
  margin-top: 13%;
}
.our-skill .sub-our {
  justify-content: flex-end;
}
.our-skill .sub-our-content {
  width: calc(100% / 12 * 3);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  margin-right: 60px;
}
.our-skill .sub-our-content .our-header {
  margin: 100px 0 70px -100px;
  letter-spacing: 2px;
}
.our-skill .sub-our-content .our-h2 {
  color: #f43324;
  font-size: 42px;
}
.our-skill .sub-our-content .our-h3 {
  color: #000;
  font-size: 40px;
}
.our-skill .sub-our-content .our-p {
  font-size: 18px;
  color: #484848;
  line-height: 28px;
  font-family: "MyriadPro";
}
.our-skill .our-img {
  width: calc(100% / 12 * 6.5);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
}
.our-skill .our-img img {
  width: 100%;
}
.main-title {
  text-align: center;
  font-size: 52px;
  color: #242424;
  padding: 90px 0 100px 0;
  text-transform: uppercase;
}
.thumb {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
}
.thumb-inner {
  height: 100%;
  overflow: hidden;
}
.thumb-inner img {
  width: 100%;
}
.product .slider-inner .slide-show {
  display: flex;
  flex-wrap: wrap;
}
.product .slider-item {
  width: calc(100%/3);
}
.product .slider-item .thumb {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
}
.product .slider-item .thumb-inner {
  height: 100%;
  overflow: hidden;
}
.product .slider-item .thumb-inner img {
  width: 100%;
}
.product .slider .slick-arrow {
  width: 155px;
  height: 155px;
  border-radius: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0.6;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.product .slider .slick-prev {
  left: 20px;
  z-index: 10;
}
.product .slider .slick-prev::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  font-size: 80px;
  color: #aaa;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.product .slider .slick-prev:hover {
  background-color: #aaa;
}
.product .slider .slick-prev:hover::before {
  color: #e8e8e8;
}
.product .slider .slick-next {
  right: 20px;
}
.product .slider .slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 80px;
  color: #aaa;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.product .slider .slick-next:hover {
  background-color: #aaa;
}
.product .slider .slick-next:hover::before {
  color: #e8e8e8;
}
.mobile {
  display: none;
}
.brand {
  padding-bottom: 180px;
  background-color: #f7f7f9;
}
.brand .brand-inner {
  width: calc(100% / 12 * 7);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.maps .title {
  padding: 72px 0 60px 0;
}
.maps .maps-inner {
  width: calc(100% / 12 * 10);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 75px;
}
.countdown .countdown-inner {
  position: relative;
}
.countdown .countdown-inner img {
  width: 100%;
}
.countdown .countdown-inner .countdown-content {
  width: calc(100% / 12 * 10);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.countdown .countdown-inner .countdown-content .title,
.countdown .countdown-inner .countdown-content .subtitle {
  font-size: 52px;
  letter-spacing: 5px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}
.countdown .countdown-inner .countdown-content .title {
  color: #000;
  font-family: "SVN-Regular";
}
.countdown .countdown-inner .countdown-content .subtitle {
  color: #f43324;
  font-weight: bold;
  margin: 32px 0 62px 0;
}
.countdown .countdown-inner .countdown-content .countdown-time {
  display: flex;
  justify-content: center;
  color: #484848;
}
.countdown .countdown-inner .countdown-content .countdown-time .time {
  margin: 0 30px;
}
.countdown .countdown-inner .countdown-content .countdown-time .num {
  font-size: 80px;
  display: flex;
  justify-content: center;
}
.countdown .countdown-inner .countdown-content .countdown-time span {
  display: flex;
  justify-content: center;
  font-family: "SVN-Regular";
}
.link {
  margin-top: 75px;
}
.link .youtube {
  text-align: center;
}
.link .youtube .title {
  color: #f43324;
  font-size: 52px;
  text-transform: uppercase;
}
.link .youtube .sub-title {
  font-size: 38px;
}
.link .youtube .link-youtube {
  width: calc(100% / 12 * 8);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  margin: 45px auto 80px auto;
}
.link .map {
  text-align: center;
}
.link .map .title {
  font-size: 52px;
  background-color: #f7f7f9;
  padding: 60px 0 50px 0;
}
.footer {
  font-family: 'MyriadPro';
  background-color: #f7f7f9;
}
.footer .social {
  background-color: #e32219;
}
.footer .social .icon {
  text-align: center;
  color: #fff;
  font-size: 38px;
  line-height: 70px;
  padding-top: 10px;
}
.footer .social .icon i {
  padding: 0 15px;
  color: #fff;
}
.footer .footer-container {
  max-width: 1350px;
  width: 100%;
  margin: 60px auto 40px auto;
  box-sizing: border-box;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.footer .footer-row-item {
  width: calc(100%/6);
  text-align: center;
}
.footer .footer-row-item .title {
  font-size: 20px;
  letter-spacing: 0.01em;
}
.footer .footer-row-item .info a {
  display: block;
  font-size: 18px;
  opacity: 0.6;
}
.footer .footer-row-item .info a:hover {
  opacity: 0.8;
}
.footer .footer-row-item a:hover {
  color: #f43324;
}
.footer .form {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.footer .form input {
  width: 400px;
  font-size: 19px;
  line-height: 40px;
  padding-left: 10px;
  outline: none;
}
.footer .form button {
  padding: 0 35px;
  background-color: #f43324;
  border: none;
  color: #fff;
  font-size: 16px;
}
.footer .form button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.footer .box {
  max-width: 1630px;
  width: 100%;
  border: solid 1px #eb8f8a;
  margin: auto;
}
.footer .organize {
  display: flex;
  font-size: 24px;
  color: #2e3133;
  justify-content: center;
  padding: 40px 0;
}
.footer .organize img {
  padding: 0 10px;
}
.footer .organize p {
  padding: 0 10px;
}
.footer .organize .organ {
  display: flex;
  align-items: center;
}
.footer .organize .certi {
  display: flex;
  align-items: center;
}
.footer .logo {
  text-align: center;
}
.footer .row-item {
  margin: auto;
  padding-bottom: 20px;
}
.footer .row-item a {
  padding: 0 5px;
}
.footer .row-item a:hover {
  color: #f43324;
}
.footer .recommend {
  text-align: center;
  color: #484848;
}
.footer .support {
  position: relative;
}
.footer .support-inner {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer .support-inner .box {
  border-radius: 115px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  border-color: #fff;
  background-color: #fff;
}
.footer .support-inner:hover {
  cursor: pointer;
}
.footer .foot {
  height: 32px;
  background-color: #000;
}
@media all and (max-width: 954px) {
  .header {
    padding-top: 160px;
  }
  .header .logo {
    width: calc(100% / 12 * 11);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .hero {
    margin-top: -35px;
  }
  .hero .img-background .slider-inner .hero-cover {
    font-family: "SFU";
    width: calc(100% / 12 * 5);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    font-size: 72px;
  }
  .hero .img-background .nav-about {
    position: unset;
    width: calc(100% / 12 * 10);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .hero .img-background .nav-about .about-header {
    font-size: 50px;
    color: #242424;
    text-align: center;
  }
  .hero .img-background .nav-about .sub-about {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 40px;
    text-align: justify;
  }
  .our-skill .sub-our {
    justify-content: center;
  }
  .our-skill .sub-our-content {
    width: calc(100% / 12 * 10);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
  }
  .our-skill .sub-our-content .our-header {
    margin: 85px 0;
  }
  .our-skill .sub-our-content .our-h2 {
    font-size: 50px;
    text-align: center;
  }
  .our-skill .sub-our-content .our-h3 {
    font-size: 45px;
    text-align: center;
  }
  .our-skill .sub-our-content .our-p {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 40px;
    text-align: justify;
  }
  .our-skill .our-img {
    width: calc(100% / 12 * 12);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
  }
  .product {
    padding-bottom: 185px;
  }
  .product .slider .slick-arrow {
    width: 88px;
    height: 88px;
  }
  .product .slider .slick-prev::before {
    font-size: 48px;
  }
  .product .slider .slick-next::before {
    font-size: 48px;
  }
  .product .title {
    padding: 215px 0 70px 0;
  }
  .brand .title {
    padding: 97px 0 90px 0;
  }
  .countdown .countdown-inner .countdown-content {
    width: calc(100% / 12 * 11);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    top: 25%;
  }
  .countdown .countdown-inner .countdown-content .title,
  .countdown .countdown-inner .countdown-content .subtitle {
    font-family: "SVN-Bold";
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 48px;
  }
  .countdown .countdown-inner .countdown-content .subtitle {
    margin: 10px 0;
  }
  .countdown .countdown-inner .countdown-content .countdown-time .time {
    margin: 0 25px;
  }
  .countdown .countdown-inner .countdown-content .countdown-time .num {
    font-size: 64px;
  }
  .maps .title {
    padding: 120px 0 90px 0;
  }
  .maps .maps-inner {
    padding-bottom: 170px;
  }
  .link {
    margin-top: 200px;
  }
  .link .youtube .title {
    font-size: 50px;
  }
  .link .youtube .sub-title {
    font-size: 28px;
  }
  .link .youtube .link-youtube {
    width: calc(100% / 12 * 10);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    margin: 45px auto 0 auto;
  }
  .link .map .title {
    font-size: 50px;
    padding: 160px 0 80px 0;
  }
  .footer .social .icon {
    font-size: 24px;
    line-height: 35px;
    padding-top: 7px;
  }
  .footer .footer-row-item {
    width: calc(100%/3);
    padding: 10px 0;
  }
  .footer .logo img {
    width: 50%;
  }
  .footer .recommend {
    width: 73%;
    margin: 0 auto;
  }
  .footer .support-inner {
    bottom: 100%;
  }
  .footer .support-inner .box {
    -webkit-box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0.75);
    background-color: #f7f7f9;
  }
  .footer .support-inner .box img {
    width: 100px;
  }
}
@media all and (max-width: 375px) {
  .main-title {
    font-size: 24px;
    padding: 10px 0 15px 0;
  }
  .brand {
    padding-bottom: 25px;
  }
  .header {
    padding-top: 55px;
  }
  .header .logo img {
    width: 25%;
  }
  .header .logo .menu {
    gap: 10px;
    font-size: 10px;
  }
  .header .logo .menu .home {
    padding: 0 8px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .header .logo .menu .home:hover {
    color: #fff;
    background-color: #f43324;
    border-color: #f43324;
  }
  .header .logo .menu .contact {
    padding: 0 8px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .header .logo .menu .contact:hover {
    color: #fff;
    background-color: #f43324;
    border-color: #f43324;
  }
  .hero {
    margin-top: 0;
  }
  .hero .slick-dots {
    max-width: 70px;
    bottom: 33%;
  }
  .hero .slick-dots li {
    margin: 0 -4px;
  }
  .hero .slick-dots li button:before {
    font-size: 5px;
  }
  .hero .img-background .slider-inner .hero-cover {
    line-height: 30px;
    width: calc(100% / 12 * 6.3);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    font-size: 25px;
  }
  .hero .img-background .nav-about {
    width: calc(100% / 12 * 9);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    margin: -30px auto 0 auto;
  }
  .hero .img-background .nav-about .about-header {
    font-size: 17px;
  }
  .hero .img-background .nav-about .sub-about {
    font-size: 10px;
    line-height: 14px;
  }
  .our-skill .sub-our-content {
    width: calc(100% / 12 * 9);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
  }
  .our-skill .sub-our-content .our-header {
    margin: 30px 0;
  }
  .our-skill .sub-our-content .our-h2 {
    font-size: 17px;
  }
  .our-skill .sub-our-content .our-h3 {
    font-size: 17px;
  }
  .our-skill .sub-our-content .our-p {
    font-size: 10px;
    line-height: 14px;
  }
  .our-skill .our-img {
    margin-top: -5px;
  }
  .main-title {
    font-size: 17px;
  }
  .product {
    padding-bottom: 60px;
  }
  .product .title {
    padding: 75px 0 30px 0;
  }
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
  .brand {
    padding-bottom: 12px;
  }
  .brand .title {
    padding: 25px 0 15px 0;
  }
  .brand .brand-inner {
    width: calc(100% / 12 * 9);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .maps .title {
    padding: 40px 0 23px 0;
  }
  .maps .maps-inner {
    width: calc(100% / 12 * 11);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 62px;
  }
  .countdown .countdown-inner .countdown-content {
    top: 17%;
  }
  .countdown .countdown-inner .countdown-content .title,
  .countdown .countdown-inner .countdown-content .subtitle {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 15px;
  }
  .countdown .countdown-inner .countdown-content .countdown-time .time {
    margin: 0 8px;
  }
  .countdown .countdown-inner .countdown-content .countdown-time .num {
    font-size: 30px;
  }
  .countdown .countdown-inner .countdown-content .countdown-time span {
    font-size: 8px;
  }
  .link {
    margin-top: 60px;
  }
  .link .youtube .title {
    font-size: 17px;
  }
  .link .youtube .sub-title {
    font-size: 10px;
  }
  .link .youtube .link-youtube {
    margin: 25px auto 0 auto;
  }
  .link .youtube .link-youtube iframe {
    height: 165px;
  }
  .link .map {
    margin-top: -35px;
  }
  .link .map .title {
    font-size: 17px;
    padding: 90px 0 25px 0;
  }
  .link .map .link-map iframe {
    height: 160px;
  }
  .footer .social .icon {
    font-size: 10px;
    line-height: 13px;
    padding-top: 2px;
  }
  .footer .social .icon i {
    padding: 0 6px;
  }
  .footer .footer-container {
    margin: 0;
  }
  .footer .footer-row-item {
    width: 100%;
    text-align: left;
    padding: 0;
  }
  .footer .footer-row-item .title {
    font-size: 11px;
  }
  .footer .footer-row-item .info a {
    font-size: 10px;
  }
  .footer .logo {
    text-align: left;
  }
  .footer .logo img {
    width: 60%;
  }
  .footer .form {
    display: none;
  }
  .footer .row-item {
    margin: 0 15px;
    padding-bottom: 0;
  }
  .footer .row-item a {
    font-size: 9px;
    padding: 0;
    color: #484848;
  }
  .footer .row-item a:hover {
    color: #f43324;
  }
  .footer .recommend {
    text-align: left;
    width: 85%;
    margin: 0 15px 20px 15px;
  }
  .footer .recommend p {
    font-size: 9px;
  }
  .footer .support-inner {
    display: none;
  }
  .footer .foot {
    height: 12px;
    background-color: #000;
  }
}
/*# sourceMappingURL=style.css.map */