/* Source */
@font-face {
  font-family: 'SVN-Bold';
  src: url('../fonts/SVN/SVN-Arial-Bold.ttf');
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
}
@font-face {
  font-family: 'SVN-Regular';
  src: url('../fonts/SVN/SVN-Arial-Regular.ttf');
}
/* Header Footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
.container {
  max-width: 1572px;
  width: 100%;
  padding: 0 3px;
  margin: 0 auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
}
body {
  font-family: 'SVN-Bold';
  font-size: 16px;
}
#header .logo {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f9;
  padding-top: 59px;
  margin-bottom: -102px;
  gap: 20%;
}
#header .logo .logo-img {
  z-index: 1;
  width: calc(100%/10);
}
#header .logo .menu {
  z-index: 1;
  display: flex;
  gap: 46px;
  align-items: flex-end;
  font-size: 21px;
  color: #5c5c5c;
}
#header .logo .menu .home:hover {
  cursor: pointer;
  color: #f43324;
}
#header .logo .menu .contact:hover {
  cursor: pointer;
  color: #f43324;
}
#hero .slick-dots {
  right: -580px;
  bottom: 400px;
}
#hero .slick-dots li button:before {
  font-size: 14px;
  opacity: 0.8;
}
#hero .img-background {
  position: relative;
}
#hero .img-background .hero-img {
  width: 100%;
}
#hero .img-background .hero-cover {
  position: absolute;
  left: 58%;
  top: 22%;
  transform: translateX(-42%);
  color: #fffefe;
  font-size: 114px;
  font-weight: bold;
  font-family: "S FU Futura Bold";
}
#hero .nav-about {
  position: absolute;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  left: 55%;
  bottom: 0;
}
#hero .about-header {
  font-size: 42px;
  color: #f43324;
  padding-bottom: 25px;
  margin-left: -30px;
  letter-spacing: 2px;
  line-height: 58px;
  font-weight: bold;
  font-family: "S VN";
}
#hero .sub-about {
  font-size: 18px;
  color: #666666;
  line-height: 19px;
  line-height: 28px;
  font-family: "Myriad Pro";
}
#our-skill {
  background-color: #f7f7f9;
  display: flex;
  gap: 69px;
  margin-top: 55px;
}
#our-skill .our-content {
  width: calc(100%/2);
  display: flex;
  justify-content: flex-end;
  padding-top: 117px;
}
#our-skill .our-content .sub-our-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#our-skill .our-content .sub-our-content .our-h2 {
  color: #f43324;
  font-size: 42px;
  letter-spacing: 2px;
  line-height: 58px;
  font-weight: bold;
  font-family: "S VN";
}
#our-skill .our-content .sub-our-content .our-h3 {
  color: #000000;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 58px;
  font-weight: bold;
  font-family: "S VN";
}
#our-skill .our-content .sub-our-content .our-p {
  font-size: 18px;
  color: #666666;
  line-height: 19px;
  line-height: 28px;
  font-family: "Myriad Pro";
}
#our-skill .our-content .sub-our-content .our-header {
  padding-bottom: 71px;
  margin-left: -100px;
}
#our-skill .our-img {
  width: calc(100%/2);
}
#our-skill .our-img .sub-our-img {
  width: 100%;
}
/* Content */
.main-title {
  text-align: center;
  font-size: 52px;
  color: #242424;
  padding: 90px 0 100px 0;
  text-transform: uppercase;
}
.thumb {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
}
.thumb-inner {
  height: 100%;
  overflow: hidden;
}
.thumb-inner img {
  width: 100%;
}
#product .slider-inner .slide-show {
  display: flex;
  flex-wrap: wrap;
}
#product .slider-item {
  width: calc(100%/3);
}
#product .slider-item .thumb {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
}
#product .slider-item .thumb-inner {
  height: 100%;
  overflow: hidden;
}
#product .slider-item .thumb-inner img {
  width: 100%;
}
#product .slider .slick-arrow {
  width: 155px;
  height: 155px;
  border-radius: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  opacity: 0.6;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
#product .slider .slick-prev {
  left: 20px;
  z-index: 10;
}
#product .slider .slick-prev::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  font-size: 64px;
  color: #aaa;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
#product .slider .slick-prev:hover {
  background-color: #aaa;
}
#product .slider .slick-prev:hover::before {
  color: #e8e8e8;
}
#product .slider .slick-next {
  right: 20px;
}
#product .slider .slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 64px;
  color: #aaa;
  opacity: 1;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
#product .slider .slick-next:hover {
  background-color: #aaa;
}
#product .slider .slick-next:hover::before {
  color: #e8e8e8;
}
#brand {
  padding-bottom: 180px;
  background-color: #f7f7f7;
}
#brand .brand-inner {
  width: calc(100% / 12 * 8);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
#maps .title {
  padding: 72px 0 60px 0;
}
#maps .maps-inner {
  padding-bottom: 75px;
}
#countdown .countdown-inner {
  position: relative;
}
#countdown .countdown-inner img {
  width: 100%;
}
#countdown .countdown-inner .countdown-content {
  width: calc(100% / 12 * 10);
  padding: 0 3px;
  margin: 3px 0;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
#countdown .countdown-inner .countdown-content .title,
#countdown .countdown-inner .countdown-content .subtitle {
  font-size: 52px;
  letter-spacing: 5px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}
#countdown .countdown-inner .countdown-content .title {
  color: #000;
  font-family: "SVN-Regular";
}
#countdown .countdown-inner .countdown-content .subtitle {
  color: #f43324;
  font-weight: bold;
  margin: 32px 0 62px 0;
}
#countdown .countdown-inner .countdown-content .countdown-time {
  display: flex;
  justify-content: center;
  color: #484848;
}
#countdown .countdown-inner .countdown-content .countdown-time .time {
  margin: 0 30px;
}
#countdown .countdown-inner .countdown-content .countdown-time .num {
  font-size: 80px;
  display: flex;
  justify-content: center;
}
#countdown .countdown-inner .countdown-content .countdown-time span {
  display: flex;
  justify-content: center;
  font-family: "SVN-Regular";
}
/* Responsive */
@media all and (max-width: 954px) {
  #header .logo {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f9;
    padding-bottom: 0px;
    margin-bottom: -2px;
    gap: 20%;
  }
  #header .logo .logo-img {
    z-index: 1;
    width: 15%;
  }
  #header .logo .menu {
    z-index: 1;
    display: flex;
    gap: 74px;
    font-size: 28px;
    align-items: flex-start;
    font-weight: 800;
  }
  #hero .img-background {
    position: relative;
  }
  #hero .img-background .hero-img {
    width: 100%;
  }
  #hero .img-background .hero-cover {
    left: 62%;
    transform: translateX(-44%);
    top: 11%;
    font-size: 51px;
  }
  #hero .nav-about {
    position: unset;
    width: 100%;
    padding: 0 115px 70px 126px;
    justify-content: center;
  }
  #hero .about-header {
    font-size: 50px;
    line-height: 33px;
    color: #242424;
    font-weight: bold;
    font-family: "S VN";
    text-align: center;
    padding-bottom: 33px;
  }
  #hero .sub-about {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #666666;
    font-family: "Myriad Pro";
    text-align: left;
  }
  #our-skill {
    gap: 69px;
    margin-top: 55px;
    flex-wrap: wrap;
  }
  #our-skill .our-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 85px;
  }
  #our-skill .our-content .sub-our-content {
    width: 100%;
    display: flex;
  }
  #our-skill .our-content .sub-our-content .our-h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: "S VN";
    text-align: center;
  }
  #our-skill .our-content .sub-our-content .our-h3 {
    font-size: 45px;
    font-weight: bold;
    font-family: "S VN";
    text-align: center;
  }
  #our-skill .our-content .sub-our-content .our-p {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 40px;
    font-family: "Myriad Pro";
    text-align: left;
    padding-left: 125px;
    padding-right: 113px;
  }
  #our-skill .our-content .sub-our-content .our-header {
    padding-bottom: 116px;
    margin-left: 0;
  }
  #our-skill .our-content .our-img {
    width: 100%;
  }
  #our-skill .our-content .our-img .sub-our-img {
    width: 100%;
  }
  #our-skill .our-img {
    width: 100%;
  }
  #product {
    padding-bottom: 185px;
  }
  #product .slider .slick-arrow {
    width: 88px;
    height: 88px;
  }
  #product .slider .slick-prev::before {
    font-size: 48px;
  }
  #product .slider .slick-next::before {
    font-size: 48px;
  }
  #product .title {
    padding: 215px 0 70px 0;
  }
  #brand .title {
    padding: 97px 0 90px 0;
  }
  #countdown .countdown-inner .countdown-content {
    width: calc(100% / 12 * 11);
    padding: 0 3px;
    margin: 3px 0;
    box-sizing: border-box;
    top: 25%;
  }
  #countdown .countdown-inner .countdown-content .title,
  #countdown .countdown-inner .countdown-content .subtitle {
    font-family: "SVN-Bold";
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 48px;
  }
  #countdown .countdown-inner .countdown-content .subtitle {
    margin: 10px 0;
  }
  #countdown .countdown-inner .countdown-content .countdown-time .time {
    margin: 0 25px;
  }
  #countdown .countdown-inner .countdown-content .countdown-time .num {
    font-size: 64px;
  }
  #maps .title {
    padding: 120px 0 90px 0;
  }
  #maps .maps-inner {
    padding-bottom: 170px;
  }
}
/*# sourceMappingURL=style.css.map */