#footer {
    font-family: 'MyriadPro';
    background-color: #f9f9f9;
    .social {
        background-color: #e32219;
        .icon {
            text-align: center;
            color: #fff;
            font-size: 38px;
            line-height: 70px;
            padding-top: 10px;
            i {
                padding: 0 15px;
            }
        }
    }
    .footer-container {
        max-width: 1350px;
        width: 100%;
        margin: 60px auto 40px auto;
        box-sizing: border-box;
    }
    .footer-row {
        display: flex;
        flex: wrap;
        padding: 0 15px;
        .row-item {
            width: calc(100%/6);
            text-align: center;
            .title {
                font-size: 20px;
                letter-spacing: 0.01em;
            }
            p {
                opacity: 0.6;
            }
        }
    }
    .form {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        input {
            width: 400px;
            font-size: 19px;
            line-height: 40px;
            padding-left: 10px;
            outline: none;
        }
        button {
            padding: 0 35px;
            background-color: #e32219;
            border: none;
            color: #fff;
            font-size: 16px;
        }
    }
    .box {
        max-width: 1630px;
        width: 100%;
        border: solid 1px #eb8f8a;
        margin: auto;
    }
    .organize {
        text-align: center;
        img {
            width: 100%;
        }
    }
    .logo {
        text-align: center;
    }
    .row-item {
        margin: auto;
        padding-bottom: 20px;
        a {
            padding: 0 5px;
        }
    }
    .recommend {
        text-align: center;
    }
}