.header{
    background-color: #f7f7f9;
    padding-top: 60px;
    .logo{
        .col(8.5);
        .flex();
        margin: 0 auto;
        img {
            z-index: 1;
        }
        .menu{
            z-index: 1;
            display: flex;
            gap: 46px;
            font-size: 21px;
            a {
                color: @color-countdown;
            }
            .home:hover{
                color: @color-hover-header;                
            }
            .contact:hover{
                color: @color-hover-header;
            }
        }
    }
}


