// all
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
// end All
#header{
    .logo{
        top:0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        background-color: #f7f7f9;
        padding-top: 59px;
        margin-bottom: -102px;
        gap: 20%;
        .logo-img{
            z-index: 1;
            width: calc(100%/10);
        }
        .menu{
            z-index: 1;
            display: flex;
            gap: 46px;
            align-items: flex-end;
            font-size: 21px;
            color: #5c5c5c;
            .home:hover{
                cursor: pointer;
                color: #f43324;                
            }
            .contact:hover{
                cursor: pointer;
                color: #f43324;
            }
        }
    }
}
// Hero
#hero {
    .img-background{
        position: relative;
        .hero-img{
            width: 100%;
        };
        .hero-cover{
            position: absolute;
            left: 58%;
            top: 22%;
            transform: translateX(-42%);
            color: #fffefe;
            font-size: 114px;
            font-weight: bold;
            font-family: "S FU Futura Bold";
        };
    };
    .nav-about{
        position: absolute;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        left: 55%;
        bottom: 0;
    }
    .about-header{
        font-size: 42px;
        color: #f43324;
        padding-bottom: 25px;
        margin-left: -30px;
        letter-spacing: 2px;
        line-height: 58px;
        font-weight: bold;
        font-family: "S VN";
    }
    .sub-about{
        font-size: 18px;
        color: #666666;
        line-height: 19px;
        line-height: 28px;
        font-family: "Myriad Pro";
    }
}
// End Hero
// our skill
#our-skill{
    background-color: #f7f7f9;
    display: flex;
    gap:69px;
    margin-top: 55px;
    .our-content{
        width: calc(100%/2);
        display: flex;
        justify-content: flex-end;
        padding-top: 117px;
        .sub-our-content{
            width: 50%;
            display: flex;
            flex-direction: column;
            .our-h2{
                color: #f43324;
                font-size: 42px;
                letter-spacing: 2px;
                line-height: 58px;
                font-weight: bold;
                font-family: "S VN";
            }
            .our-h3{
                color: #000000;
                font-size: 40px;
                letter-spacing: 2px;
                line-height: 58px;
                font-weight: bold;
                font-family: "S VN";
            }
            .our-p{
                font-size: 18px;
                color: #666666;
                line-height: 19px;
                line-height: 28px;
                font-family: "Myriad Pro";
            }
            .our-header{
                padding-bottom: 71px;
                margin-left: -100px;
            }
        };
    }
    .our-img{
        width: calc(100%/2);
        .sub-our-img{
            width: 100%;
        }
    }
}
// End our skill
// reponship
@media all and (max-width:954px) {
    #header{
        .logo{
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-around;
            background-color: #f7f7f9;
            padding-bottom: 0px;
            margin-bottom: -2px;
            gap: 20%;
            .logo-img{
                z-index: 1;
                width: 15%;
            }
            .menu{
                z-index: 1;
                display: flex;
                gap: 74px;
                font-size: 28px;
                align-items: flex-start;
                font-weight: 800;
            }
        }
    };

    #hero {
        .img-background{
            position: relative;
            .hero-img{
                width: 100%;
            };
            .hero-cover{
                left: 62%;
                transform: translateX(-44%);
                top: 11%;
                font-size: 51px;
            };
        };
        .nav-about{
            position: unset;
            width: 100%;
            padding: 0 115px 70px 126px;
            justify-content: center;
        }
        .about-header{
            font-size: 50px;
            line-height: 33px;
            color: #242424;
            font-weight: bold;
            font-family: "S VN";
            text-align: center;
            padding-bottom: 33px;
        }
        .sub-about{
            font-size: 28px;
            letter-spacing: 0px;
            line-height: 40px;
            color: #666666;
            font-family: "Myriad Pro";
            text-align: left;
        }
    };
    
    #our-skill{
        gap:69px;
        margin-top: 55px;
        flex-wrap: wrap;
        .our-content{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-top: 85px;
            .sub-our-content{
                width: 100%;
                display: flex;
                .our-h2{
                    font-size: 50px;
                    font-weight: bold;
                    font-family: "S VN";
                    text-align: center;
                }
                .our-h3{
                    font-size: 45px;
                    font-weight: bold;
                    font-family: "S VN";
                    text-align: center;
                }
                .our-p{
                    font-size: 28px;
                    letter-spacing: 0px;
                    line-height: 40px;
                    font-family: "Myriad Pro";
                    text-align: left;
                    padding-left: 125px;
                    padding-right: 113px;
                }
                .our-header{
                    padding-bottom: 116px;
                    margin-left: 0;
            };
        }
        .our-img{
            width: 100%;
            .sub-our-img{
                width: 100%;
            }
        }
    }};
    #our-skill .our-img{
        width: 100%;
    };
}