#link {
    .youtube {
        text-align: center;
        .title {
            color: #ff0000;
            font-size: 52px;
        }
        .sub-title {
            font-size: 38px;
        }
        .link-youtube {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .map {
        text-align: center;
        .title {
            font-size: 52px;
            background-color: #f7f7f7;
        }
    }
}