// @media all and (max-width: 1572px) {
//     .countdown {
//         .countdown-inner {
//             .countdown-content {
//                 top: 25%;
//                 .subtitle {
//                     margin: 22px 0 52px 0;
//                 }
//             }
//         }
//     }

//     #maps {
//         margin: 0 10px;
//     }
// }

// @media all and (max-width: 1170px) {
//     #product {
//         .slider {
//             .slick-arrow {
//                 width: 100px;
//                 height: 100px;
//             }
//         }
//     }

//     #brand {
//         .brand-inner {
//             .col(10);
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
//     #countdown {
//         .countdown-inner {
//             .countdown-content {
//                 .col(12);
//                 top: 20%;
//                 .subtitle {
//                     margin: 12px 0 32px 0;
//                 }
//             }
//         }
//     }
// }

// @media all and (max-width: 1024px) {
//     #product {
//         .slider {
//             .slick-arrow {
//                 width: 80px;
//                 height: 80px;
//             }
//             .slick-prev {
//                 &::before {
//                     font-size: 48px;
//                 }
//             }
//             .slick-next {
//                 &::before {
//                     font-size: 48px;
//                 }
//             }
//         }
//     }

//     #brand {
//         .brand-inner {
//             .col(12);
//         }
//     }
//     #countdown {
//         .countdown-inner {
//             .countdown-content {
//                 top: 10%;
//                 .title,
//                 .subtitle {
//                     font-size: 36px;
//                 }
//                 .subtitle {
//                     margin: 0 0 12px 0;
//                 }
//             }
//         }
//     }
// }

@media all and (max-width: 954px) {
    .header {
        padding-top: 160px;
        .logo {
            .col(11);
            margin: 0 auto;
        }
    }

    .hero {
        margin-top: -35px;
        .img-background {
            .slider-inner {
                .hero-cover {
                    font-family: "SFU";
                    .col(5);
                    // font-size: calc(100vw/18.7);
                    font-size: 72px;
                }
            }
            .nav-about {
                position: unset;
                .col(10);
                margin: 0 auto;
                .about-header {
                    font-size: 50px;
                    color: @title-color;
                    text-align: center;
                }
                .sub-about {
                    font-size: 28px;
                    letter-spacing: 0px;
                    line-height: 40px;
                    text-align: justify;
                }
            }
        }
    }
    
    .our-skill{
        .sub-our {
            justify-content: center;
            &-content{
                .col(10);
                .our-header {
                    margin: 85px 0;
                }
                .our-h2{
                    font-size: 50px;
                    text-align: center;
                }
                .our-h3{
                    font-size: 45px;
                    text-align: center;
                }
                .our-p{
                    font-size: 28px;
                    letter-spacing: 0px;
                    line-height: 40px;
                    text-align: justify;
                }
            }
        }

        .our-img{
            .col(12);
        }
    }

    .product {
        .slider {
            .slick-arrow {
                width: 88px;
                height: 88px;
            }
            .slick-prev {
                &::before {
                    font-size: 48px;
                }
            }
            .slick-next {
                &::before {
                    font-size: 48px;
                }
            }
        }
        padding-bottom: 185px;
        .title {
            padding: 215px 0 70px 0;
        }
    }
    .brand {
        .title {
            padding: 97px 0 90px 0;
        }
    }
    .countdown {
        .countdown-inner {
            .countdown-content {
                .col(11);
                top: 25%;
                .title,
                .subtitle {
                    font-family: "SVN-Bold";
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 48px;
                }
                .subtitle {
                    margin: 10px 0;
                }
                .countdown-time {
                    .time {
                        margin: 0 25px;
                    }
                    .num {
                        font-size: 64px;
                    }
                }
            }
        }
    }
    .maps {
        .title {
            padding: 120px 0 90px 0;
        }
        .maps-inner {
            padding-bottom: 170px;
        }
    }
    .link {
        margin-top: 200px;
        .youtube {
            .title {
                font-size: 50px;
            }
            .sub-title {
                font-size: 28px;
            }
            .link-youtube {
                .col(10);
                margin: 45px auto 0 auto;
            }
        }
        .map {
            .title {
                font-size: 50px;
                padding: 160px 0 80px 0;
            }
        }
    }
    .footer {
        .social {
            .icon {
                font-size: 24px;
                line-height: 35px;
                padding-top: 7px;
            }
        }
        .footer-row {
            &-item {
                width: calc(100%/3);
                padding: 10px 0;
            }
        }

        .logo {
            img {
                width: 50%;
            }
        }
        .recommend {
            width: 73%;
            margin: 0 auto;
        }
        .support {
            &-inner {
                bottom: 100%;
                .box {
                    -webkit-box-shadow: 0px 0px 0 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 0 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 0 0px rgba(0,0,0,0.75);
                    background-color: @color-background;
                    img {
                        width: 100px;
                    }
                }
            }
        }
    }
}

// @media all and (max-width: 768px) {
//     .main-title {
//         font-size: 36px;
//         padding: 40px 0 50px 0;
//     }
//     #product {
//         padding-bottom: 85px;
//     }
//     #brand {
//         padding-bottom: 100px;
//     }
//     #countdown {
//         .countdown-inner {
//             .countdown-content {
//                 top: 10%;
//                 .title,
//                 .subtitle {
//                     font-size: 24px;
//                     letter-spacing: 2px;
//                     line-height: 38px;
//                 }
//                 .subtitle {
//                     margin: 0;
//                 }
//                 .countdown-time {
//                     .time {
//                         margin: 0 15px;
//                     }
//                     .num {
//                         font-size: 40px;
//                     }
//                 }
//             }
//         }
//     }
//     #maps {
//         .maps-inner {
//             padding-bottom: 70px;
//         }
//     }
// }

// @media all and (max-width: 512px) {
//     .main-title {
//         font-size: 30px;
//         padding: 20px 0 30px 0;
//     }
//     #product {
//         padding-bottom: 45px;
//     }
//     #brand {
//         padding-bottom: 50px;
//     }
//     #countdown {
//         .countdown-inner {
//             .countdown-content {
//                 top: 3%;
//                 .title,
//                 .subtitle {
//                     font-size: 22px;
//                     letter-spacing: 0;
//                     line-height: 30px;
//                 }
//             }
//         }
//     }
//     #maps {
//         .maps-inner {
//             padding-bottom: 30px;
//         }
//     }
// }

@media all and (max-width: 375px) {
    .main-title {
        font-size: 24px;
        padding: 10px 0 15px 0;
    }
    .brand {
        padding-bottom: 25px;
    }

    .header {
        padding-top: 55px;
        .logo {
            img {
                width: 25%;
            }
            .menu {
                gap: 10px;
                font-size: 10px;
                .home {
                    padding: 0 8px;
                    display: flex;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    &:hover {
                        color: @color-white;
                        background-color: @color-hover-header;
                        border-color: @color-hover-header;
                    }
                }
                .contact {
                    padding: 0 8px;
                    display: flex;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    &:hover {
                        color: @color-white;
                        background-color: @color-hover-header;
                        border-color: @color-hover-header;
                    }
                }
            }
        }
    }

    .hero {
        margin-top: 0;
        .slick-dots {
            max-width: 70px;
            bottom: 33%;
            li {
                margin: 0 -4px;
                button:before {
                    font-size: 5px;
                }
            }
        }
        .img-background {
            .slider-inner {
                .hero-cover {
                    line-height: 30px;
                    .col(6.3);
                    // font-size: calc(100vw/15);
                    font-size: 25px;
                }
            }
            .nav-about {
                .col(9);
                margin: -30px auto 0 auto;
                .about-header {
                    font-size: 17px;
                }
                .sub-about {
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }

    .our-skill {
        .sub-our {
            &-content {
                .col(9);
                .our-header {
                    margin: 30px 0;
                }
                .our-h2{
                    font-size: 17px;
                }
                .our-h3{
                    font-size: 17px;
                }
                .our-p{
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
        .our-img{
            margin-top: -5px;
        }
    }

    .main-title {
        font-size: 17px;
    }

    .product {
        padding-bottom: 60px;
        .title {
            padding: 75px 0 30px 0;
        }
    }

    .web {
        display: none;
    }
    .mobile {
        display: block;
    }

    .brand {
        .title {
            padding: 25px 0 15px 0;
        }
        .brand-inner {
            .col(9);
            margin-left: auto;
            margin-right: auto;
        }
        padding-bottom: 12px;
    }

    .maps {
        .title {
            padding: 40px 0 23px 0;
        }
        .maps-inner {
            .col(11);
            margin: 0 auto;
            padding-bottom: 62px;
        }
    }

    .countdown {
        .countdown-inner {
            .countdown-content {
                top: 17%;
                .title,
                .subtitle {
                    font-size: 20px;
                    letter-spacing: 0;
                    line-height: 15px;
                }
                .countdown-time {
                    .time {
                        margin: 0 8px;
                    }
                    .num {
                        font-size: 30px;
                    }
                    span {
                        font-size: 8px;
                    }
                }
            }
        }
    }
    .link {
        margin-top: 60px;
        .youtube {
            .title {
                font-size: 17px;
            }
            .sub-title {
                font-size: 10px;
            }
            .link-youtube {
                margin: 25px auto 0 auto;
                iframe {
                    height: 165px;
                }
            }
        }
        .map {
            margin-top: -35px;
            .title {
                font-size: 17px;
                padding: 90px 0 25px 0;
            }
            .link-map {
                iframe {
                    height: 160px;
                }
            }
        }
    }

    .footer {
        .social {
            .icon {
                font-size: 10px;
                line-height: 13px;
                padding-top: 2px;
                i {
                    padding: 0 6px;
                }
            }
        }
        .footer-container {
            margin: 0;
        }
        .footer-row {
            &-item {
                width: 100%;
                text-align: left;
                padding: 0;
                .title {
                    font-size: 11px;
                }
                .info {
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
        .logo {
            text-align: left;
            img {
                width: 60%;
            }
        }
        .form {
            display: none;
        }
        .row-item {
            margin: 0 15px;
            padding-bottom: 0;
            a {
                font-size: 9px;
                padding: 0;
                color: @color-countdown;
                &:hover {
                    color: @color-hover-header;
                }
            }
        }
        .recommend {
            text-align: left;
            width: 85%;
            margin: 0 15px;
            p {
                font-size: 9px;
            }
        }







        .support-inner {
            display: none;
        }
    }
}