@media all and (max-width: 1572px) {
    #countdown {
        .countdown-inner {
            .countdown-content {
                top: 25%;
                .subtitle {
                    margin: 22px 0 52px 0;
                }
            }
        }
    }

    #maps {
        margin: 0 10px;
    }
}

@media all and (max-width: 1170px) {
    #product {
        .slider {
            .slick-arrow {
                width: 100px;
                height: 100px;
            }
        }
    }

    #brand {
        .brand-inner {
            .col(10);
            margin-left: auto;
            margin-right: auto;
        }
    }
    #countdown {
        .countdown-inner {
            .countdown-content {
                .col(12);
                top: 20%;
                .subtitle {
                    margin: 12px 0 32px 0;
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    #product {
        .slider {
            .slick-arrow {
                width: 80px;
                height: 80px;
            }
            .slick-prev {
                &::before {
                    font-size: 48px;
                }
            }
            .slick-next {
                &::before {
                    font-size: 48px;
                }
            }
        }
    }

    #brand {
        .brand-inner {
            .col(12);
        }
    }
    #countdown {
        .countdown-inner {
            .countdown-content {
                top: 10%;
                .title,
                .subtitle {
                    font-size: 36px;
                }
                .subtitle {
                    margin: 0 0 12px 0;
                }
            }
        }
    }
}

@media all and (max-width: 954px) {
    #product {
        padding-bottom: 185px;
    }
    #countdown {
        .countdown-inner {
            .countdown-content {
                .title,
                .subtitle {
                    font-family: "SVN-Bold";
                    font-weight: bold;
                    letter-spacing: 3px;
                }
            }
        }
    }
    #maps {
        .maps-inner {
            padding-bottom: 170px;
        }
    }
}

@media all and (max-width: 768px) {
    .main-title {
        font-size: 36px;
        padding: 40px 0 50px 0;
    }
    #brand {
        padding-bottom: 100px;
    }
    #countdown {
        .countdown-inner {
            .countdown-content {
                top: 10%;
                .title,
                .subtitle {
                    font-size: 24px;
                    letter-spacing: 2px;
                    line-height: 38px;
                }
                .subtitle {
                    margin: 0;
                }
                .countdown-time {
                    .time {
                        margin: 0 15px;
                    }
                    .num {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 512px) {
    .main-title {
        font-size: 30px;
        padding: 20px 0 30px 0;
    }
    #brand {
        padding-bottom: 50px;
    }
    #countdown {
        .countdown-inner {
            .countdown-content {
                top: 3%;
                .title,
                .subtitle {
                    font-size: 22px;
                    letter-spacing: 0;
                    line-height: 30px;
                }
            }
        }
    }
}

@media all and (max-width: 375px) {
    .main-title {
        font-size: 24px;
        padding: 10px 0 15px 0;
    }
    #brand {
        padding-bottom: 25px;
    }
    #countdown {
        .countdown-inner {
            .countdown-content {
                top: 3%;
                .title,
                .subtitle {
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                .countdown-time {
                    .time {
                        margin: 0 8px;
                    }
                    .num {
                        font-size: 30px;
                    }
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}